#sell_manager_product_list_checkbox {
	width: 50px;
}

#sell_manager_product_list_picture {
	width: 80px;
}

#sell_manager_product_list_name {
	
}

#sell_manager_product_list_editor {
	width: 100px;
}